* {
  margin: 0;
  padding: 0;
}

.display {
  width: 50vw;
}

.display img {
  width: 200px;
}

.display h3 {
  height: 30px;
}

.allMemes {
  display: flex;
  margin-top: 40px;
}

.displayMemes {
  width: 40vw;
}

.memeList {
  border: 4px solid black;
  display: flex;
  flex-direction: column;
}
.favMemes {
  display: flex;
  flex-direction: column;
  width: 40vw;
  align-items: flex-end;
}
