* {
  margin: 0;
  background: #e8e7e7;
}

.allMemes {
  display: flex;
  margin-top: 5vh;
}

.displayMemes {
  width: 50vw;
}
.displayMemes > h1 {
  font-family: cursive;
  font-size: 30px;
}
.buttonLayout {
  display: flex;
  flex-direction: column;
}
.buttonLayout button {
  text-align: center;
  padding: 20px;
  margin-right: 60px;
  border: 1px solid black;
  font-size: 20px;
}
.memeList {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  width: 45vw;
  margin-top: 40px;
}
.favMemes {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 100px;
  align-items: flex-end;
}

.entireFavsList {
  width: 100%;
}

.entireFavsList > button {
  width: 150px;
  margin-left: 300px;
}

.Abutton {
  width: 400px;
  padding-bottom: 100px;
}
.entireFavsList > button {
  font-size: 20px;
  width: 300px;
  margin-bottom: 40px;
  font-family: cursive;
}
.hiddenMeme > p {
  font-size: 50px;
  text-align: center;
}

.hiddenMeme > img {
  float: right;
  margin-right: 50px;
}
